<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administracion de tareas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
</head>
<body ng-app="appTareas">
	<div class="page-hader">
		<h1>Adminstrador de Tareas</h1>
	</div>
	<div class="container col-md-4 col-md-offset-4">
		<form action="">
			<h3>Agragar nueva tarea</h3>
			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Tareas a realizar" ng-model="tarea.nombre"></input>
				<span class="glyphicon glyphicon-tasks form-control-feedback"></span>
			</div>
			<div>
				<span class="glyphicon glyphicon-time"></span>&nbsp;<span class="lead prioridad">Elige la prioridad: </span>
				<label class="radio-inline">
					<input type="radio" ng-model="tarea.prioridad" value="Baja"></input> Baja
				</label>

				<label class="radio-inline">
					<input type="radio" ng-model="tarea.prioridad" value="Normal"></input> Normal
				</label>

				<label class="radio-inline">
					<input type="radio" ng-model="tarea.prioridad" value="Alta"></input> Alta
				</label>

			</div>
			<button type="submit" class="btn btn-success">Agregar</button>
		</form>

		<div class="todoList bg-info">
			<h4>Tareas registradas</h4>

			<div class="item">
				<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<span class="glyphicon glyphicon-circle-arrow-down"></span> {{ tarea.prioridad }}
				<span>
					<a href="#">{{ tarea.nombre }}</a>
					<span class="glyphicon glyphicon-edit text-warning"></span>
					<span class="glyphicon glyphicon-remove text-danger"></span>
				</span>
			</div>

		</div>
	</div>

</body>
</html>